body {
  background-image: url('images/background.jpg'); /* you'll add this image next */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  text-align: center;
}

/* Center text on the screen */
header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin: 0;
}

p {
  font-size: 1.2em;
}
